.page-section {
    padding: 1.2rem 0;

    @include atMedium {
        padding: 4.5rem 0;
    }

    &__blue {
        background-color: $mainBlue;
        color: #fff;
    }

    &--testimonials {
        background-color: midnightblue;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0;

        @include atMedium {
            padding-bottom: 4.5rem;
        }
    }
}