.row {

    @include clearfix;
    
    &--gutters-small {
        margin-right: -45px;
    }

    &--gutters {
        margin-right: -65px !important;
    }

    &--gutters-small > div {
        padding-right: 45px;
    }

    &--gutters > div {
        padding-right: 65px !important;
    }
    
    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters-large > div{
        padding-right: 100px;
    }

    &--t-padding {
        padding-top: 80px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;

        @include atMedium {
            margin-bottom: 0;
        }
    }

    
    // Start -  Equal Height Rule
    &--equal-height-at-medium {
        @include atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
    // End -  Equal Height Rule

    // ------------------------------------- ROW RATIO COLUMNS ---------------------------------------//



    // Start ----------------------------- At Medium (min-width: 530px) ---------------------------------//
    @include atSmall {
        &__small-1 {
            float: left;
            width: 8.33%;
        }

        &__small-2 {
            float: left;
            width: 16.66%;
        }

        &__small-3 {
            float: left;
            width: 24.99%;
        }

        &__small-4 {
            float: left;
            width: 33.32%;
        }

        &__small-5 {
            float: left;
            width: 41.66%;
        }

        &__small-6 {
            float: left;
            width: 49.98%;
        }

        &__small-7 {
            float: left;
            width: 58.31%;
        }

        &__small-8 {
            float: left;
            width: 66.64%;
        }

        &__small-9 {
            float: left;
            width: 74.97%;
        }

        &__small-10 {
            float: left;
            width: 83.3%;
        }

        &__small-11 {
            float: left;
            width: 91.63%;
        }

        &__small-12 {
            float: left;
            width: 99.96%;
        }
    }




    // Start ----------------------------- At Medium (min-width: 800px) ---------------------------------//
    @include atMedium {
        &__medium-1 {
            float: left;
            width: 8.33%;
        }

        &__medium-2 {
            float: left;
            width: 16.66%;
        }

        &__medium-3 {
            float: left;
            width: 24.99%;
        }


        // --
        &__medium-4 {
            float: left;
            width: 33.33%;
        }
        &__medium-4--larger {
            width: 35%;
        }   
        //--

        
        &__medium-5 {
            float: left;
            width: 41.66%;
        }

        &__medium-6 {
            float: left;
            width: 49.98%;
        }

        &__medium-7 {
            float: left;
            width: 58.31%;
        }

        //--
        &__medium-8--smaller {
            width: 63%;
        }
        &__medium-8 {
            float: left;
            width: 66.64%;
        }
        //--


        &__medium-9 {
            float: left;
            width: 74.97%;
        }

        &__medium-10 {
            float: left;
            width: 83.3%;
        }

        &__medium-11 {
            float: left;
            width: 91.63%;
        }

        &__medium-12 {
            float: left;
            width: 99.96%;
        }
    
    }
    // End ----------------------------- At Medium (min-width: 800px) ---------------------------------//

    
    
    // Start ----------------------------- At Large (min-width: 1200px) ---------------------------------//
    @include atLarge {
        &__large-1 {
            float: left;
            width: 8.33%;
        }

        &__large-2 {
            float: left;
            width: 16.66%;
        }

        &__large-3 {
            float: left;
            width: 24.99%;
        }

        &__large-4 {
            float: left;
            width: 33.32%;
        }

        &__large-5 {
            float: left;
            width: 41.66%;
        }

        &__large-6 {
            float: left;
            width: 49.98%;
        }

        &__large-7 {
            float: left;
            width: 58.31%;
        }

        &__large-8 {
            float: left;
            width: 66.64%;
        }

        &__large-9 {
            float: left;
            width: 74.97%;
        }

        &__large-10 {
            float: left;
            width: 83.3%;
        }

        &__large-11 {
            float: left;
            width: 91.63%;
        }

        &__large-12 {
            float: left;
            width: 99.96%;
        }
    }
    // End ------------------------------- At Large (min-width: 1200px) ---------------------------------//
}